<h3>"{{model.country}}" and its hiking region is {{model.location}}</h3>

<!-- {{trail-tile trails=model.trails}} -->



<!-- {{update-hike hike=model update="update"}} -->

<ul>
  {{#each model as |hike|}}
     <li>{{#link-to 'hike' hike.id}}{{hike.country}}{{hike.location}}{{/link-to}}
     </li>
  {{/each}}
</ul>

{{new-trail saveTrail="saveTrail" hike=model}}
