 <h3>"{{model.review}}" written by {{model.author}}</h3>

{{trail-tile trails=model.trails}}

{{new-trail saveTrail="saveTrail" hike=model}} 

<!-- {{update-hike hike=model update="update"}} -->

<h1> Wanna hike the {{model.hike}} </h1>

{{new-trail save2="saveTrail" hike=model}}<!--might need to change to save3 -->
